/* Grey overlay */
.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

/* Dark background */
.modalBackdrop {
  position: absolute;
  inset: 0;
  background: rgba(131, 122, 122, 0.6);
}

/* Modal card */
.modalCard {
  position: relative;
  z-index: 1001;
  max-width: 500px;
  margin: 10vh auto;
  background: #f2f2f2;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}
