.footer {
  font-size: 16px;
}

.footer a:hover {
  color: #0d6efd;
  text-decoration: underline;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  padding: 10px;
  height: 70px;
}