.footer {
  font-size: 16px;
  margin-top: 30px;
}

.footer a:hover {
  color: #0d6efd;
  text-decoration: underline;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  padding: 10px;
  height: 70px;
}
.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialIcons a {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.socialIcons a:hover {
  background-color: #0d6efd;
  transform: translateY(-3px);
}