.header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #a97bd4;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    padding: 10px;
    height: 70px;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0px;
}

.nav ul li {
    font-size: 16px;
    color: #444;
    cursor: pointer;
    transition: 0.2s;
}

.nav li:hover {
    width: 70px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px gray 
}