.aboutPage {
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  padding: 90px 20px;
  background-color: #f8f9fa;
}
.heroImg {
  width: 120px;
  margin-top: 20px;
}
.values .card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}
